/* sass by eddie */
/* css3 sass by eddie */
/* css3-border-radius */
/* css3-box-shadow */
/* css3-text-shadow */
/* css3-transition */
/* css3-rotation */
/* text-selection */
.vspace1 {
  height: 1px; }

.vspace2 {
  height: 2px; }

.vspace3 {
  height: 3px; }

.vspace4 {
  height: 4px; }

.vspace5 {
  height: 5px; }

.vspace6 {
  height: 6px; }

.vspace7 {
  height: 7px; }

.vspace8 {
  height: 8px; }

.vspace9 {
  height: 9px; }

.vspace10 {
  height: 10px; }

.vspace11 {
  height: 11px; }

.vspace12 {
  height: 12px; }

.vspace13 {
  height: 13px; }

.vspace14 {
  height: 14px; }

.vspace15 {
  height: 15px; }

.vspace16 {
  height: 16px; }

.vspace17 {
  height: 17px; }

.vspace18 {
  height: 18px; }

.vspace19 {
  height: 19px; }

.vspace20 {
  height: 20px; }

.vspace21 {
  height: 21px; }

.vspace22 {
  height: 22px; }

.vspace23 {
  height: 23px; }

.vspace24 {
  height: 24px; }

.vspace25 {
  height: 25px; }

.vspace26 {
  height: 26px; }

.vspace27 {
  height: 27px; }

.vspace28 {
  height: 28px; }

.vspace29 {
  height: 29px; }

.vspace30 {
  height: 30px; }

.vspace31 {
  height: 31px; }

.vspace32 {
  height: 32px; }

.vspace33 {
  height: 33px; }

.vspace34 {
  height: 34px; }

.vspace35 {
  height: 35px; }

.vspace36 {
  height: 36px; }

.vspace37 {
  height: 37px; }

.vspace38 {
  height: 38px; }

.vspace39 {
  height: 39px; }

.vspace40 {
  height: 40px; }

.vspace41 {
  height: 41px; }

.vspace42 {
  height: 42px; }

.vspace43 {
  height: 43px; }

.vspace44 {
  height: 44px; }

.vspace45 {
  height: 45px; }

.vspace46 {
  height: 46px; }

.vspace47 {
  height: 47px; }

.vspace48 {
  height: 48px; }

.vspace49 {
  height: 49px; }

.vspace50 {
  height: 50px; }

.vspace51 {
  height: 51px; }

.vspace52 {
  height: 52px; }

.vspace53 {
  height: 53px; }

.vspace54 {
  height: 54px; }

.vspace55 {
  height: 55px; }

.vspace56 {
  height: 56px; }

.vspace57 {
  height: 57px; }

.vspace58 {
  height: 58px; }

.vspace59 {
  height: 59px; }

.vspace60 {
  height: 60px; }

.vspace61 {
  height: 61px; }

.vspace62 {
  height: 62px; }

.vspace63 {
  height: 63px; }

.vspace64 {
  height: 64px; }

.vspace65 {
  height: 65px; }

.vspace66 {
  height: 66px; }

.vspace67 {
  height: 67px; }

.vspace68 {
  height: 68px; }

.vspace69 {
  height: 69px; }

.vspace70 {
  height: 70px; }

.vspace71 {
  height: 71px; }

.vspace72 {
  height: 72px; }

.vspace73 {
  height: 73px; }

.vspace74 {
  height: 74px; }

.vspace75 {
  height: 75px; }

.vspace76 {
  height: 76px; }

.vspace77 {
  height: 77px; }

.vspace78 {
  height: 78px; }

.vspace79 {
  height: 79px; }

.vspace80 {
  height: 80px; }

.vspace81 {
  height: 81px; }

.vspace82 {
  height: 82px; }

.vspace83 {
  height: 83px; }

.vspace84 {
  height: 84px; }

.vspace85 {
  height: 85px; }

.vspace86 {
  height: 86px; }

.vspace87 {
  height: 87px; }

.vspace88 {
  height: 88px; }

.vspace89 {
  height: 89px; }

.vspace90 {
  height: 90px; }

.vspace91 {
  height: 91px; }

.vspace92 {
  height: 92px; }

.vspace93 {
  height: 93px; }

.vspace94 {
  height: 94px; }

.vspace95 {
  height: 95px; }

.vspace96 {
  height: 96px; }

.vspace97 {
  height: 97px; }

.vspace98 {
  height: 98px; }

.vspace99 {
  height: 99px; }

.vspace100 {
  height: 100px; }

.vspace101 {
  height: 101px; }

.vspace102 {
  height: 102px; }

.vspace103 {
  height: 103px; }

.vspace104 {
  height: 104px; }

.vspace105 {
  height: 105px; }

.vspace106 {
  height: 106px; }

.vspace107 {
  height: 107px; }

.vspace108 {
  height: 108px; }

.vspace109 {
  height: 109px; }

.vspace110 {
  height: 110px; }

.vspace111 {
  height: 111px; }

.vspace112 {
  height: 112px; }

.vspace113 {
  height: 113px; }

.vspace114 {
  height: 114px; }

.vspace115 {
  height: 115px; }

.vspace116 {
  height: 116px; }

.vspace117 {
  height: 117px; }

.vspace118 {
  height: 118px; }

.vspace119 {
  height: 119px; }

.vspace120 {
  height: 120px; }

.vspace121 {
  height: 121px; }

.vspace122 {
  height: 122px; }

.vspace123 {
  height: 123px; }

.vspace124 {
  height: 124px; }

.vspace125 {
  height: 125px; }

.vspace126 {
  height: 126px; }

.vspace127 {
  height: 127px; }

.vspace128 {
  height: 128px; }

.vspace129 {
  height: 129px; }

.vspace130 {
  height: 130px; }

.vspace131 {
  height: 131px; }

.vspace132 {
  height: 132px; }

.vspace133 {
  height: 133px; }

.vspace134 {
  height: 134px; }

.vspace135 {
  height: 135px; }

.vspace136 {
  height: 136px; }

.vspace137 {
  height: 137px; }

.vspace138 {
  height: 138px; }

.vspace139 {
  height: 139px; }

.vspace140 {
  height: 140px; }

.vspace141 {
  height: 141px; }

.vspace142 {
  height: 142px; }

.vspace143 {
  height: 143px; }

.vspace144 {
  height: 144px; }

.vspace145 {
  height: 145px; }

.vspace146 {
  height: 146px; }

.vspace147 {
  height: 147px; }

.vspace148 {
  height: 148px; }

.vspace149 {
  height: 149px; }

.vspace150 {
  height: 150px; }

.vspace151 {
  height: 151px; }

.vspace152 {
  height: 152px; }

.vspace153 {
  height: 153px; }

.vspace154 {
  height: 154px; }

.vspace155 {
  height: 155px; }

.vspace156 {
  height: 156px; }

.vspace157 {
  height: 157px; }

.vspace158 {
  height: 158px; }

.vspace159 {
  height: 159px; }

.vspace160 {
  height: 160px; }

.clear {
  clear: both; }

.hr {
  width: 100%;
  height: 1px; }

.black {
  background-color: black;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  position: absolute;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.white {
  background-color: white;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  position: absolute;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.clickarea {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 280px;
  left: 0;
  z-index: 9999;
  cursor: pointer; }

body {
  background-color: white; }

.whiteout {
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 420px;
  left: 0;
  z-index: 100; }

.bg-blue {
  background-color: #229abf; }

.bg-green {
  background-color: #999933; }

.bg-yellow {
  background-color: #f9b01e; }

.bg-red {
  background-color: #dc4443; }

.container-width {
  width: 820px;
  margin: 0 auto;
  overflow: hidden; }

bodys {
  overflow-x: hidden; }

.main-area {
  width: 620px;
  position: absolute;
  top: 0;
  left: 220px;
  opacity: 0;
  z-index: -1;
  display: none; }
  .main-area .text-area {
    width: 160px;
    min-height: 220px;
    background-color: white;
    position: absolute;
    top: 180px;
    left: -220px;
    font-family: "Nunito";
    font-weight: 300; }
    .main-area .text-area .title {
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
      margin-top: 15px;
      margin-bottom: 20px; }

.circle-container, .gdesign-circle {
  -webkit-user-select: none; }

.circle-container {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0;
  cursor: default;
  -webkit-transition: all 0.4s; }

.circle-container:nth-of-type(4), .circle-container:nth-of-type(8) {
  -webkit-transition: all 0.5s; }

.gdesign-circle {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  position: relative;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  z-index: 5; }
  .gdesign-circle .hover-trans {
    opacity: 0;
    -webkit-transition: all 0.1s;
    position: absolute;
    top: 0;
    left: 0; }

.circle, .circle-photo {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  float: left;
  position: relative;
  text-align: center;
  margin-left: 60px;
  overflow: hidden; }
  .circle .hover-trans, .circle-photo .hover-trans {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; }
  .circle:hover .hover-trans, .circle-photo:hover .hover-trans {
    visibility: visible;
    z-index: 2; }

.circle:nth-of-type(1), .circle-photo:nth-of-type(1) {
  margin-left: 0px; }

#mailto img, #instagram img {
  opacity: 1;
  -webkit-transition: all 0.2s; }

#mailto:hover img, #instagram:hover img {
  opacity: 0; }

#mailto .text-overlay, #instagram .text-overlay {
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 20px;
  text-align: center;
  width: 120px;
  height: 160px;
  color: white;
  line-height: 130px;
  text-transform: uppercase;
  font-family: "Nunito";
  font-weight: 300;
  font-size: 1.7em;
  line-height: 1.2em; }

#mailto:hover .text-overlay, #instagram:hover .text-overlay {
  opacity: 1; }

header a {
  line-height: 160px; }

header a:nth-of-type(1) img {
  width: auto;
  height: 41px; }

header a:nth-of-type(2) img {
  width: auto;
  height: 20px; }

header a:nth-of-type(3) img {
  width: auto;
  height: 20px; }

header a:nth-of-type(4) img {
  width: auto;
  height: 20px; }

footer {
  min-height: 480px; }

.ss-main {
  width: 820px;
  margin: 0 auto;
  position: relative; }

.ss {
  width: 980px;
  height: 380px;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.ss-row {
  position: relative;
  width: 820px;
  height: 160px; }

.ss-row:nth-of-type(2n+1) {
  margin-bottom: 60px; }

.ss-left, .ss-right {
  width: 80px;
  position: absolute;
  float: left;
  z-index: 99;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.ss-left {
  top: 165px;
  left: 0px; }

.ss-right {
  top: 165px;
  right: 0px; }

.ss-page {
  width: 820px;
  position: absolute;
  background-color: white; }
  .ss-page:first-of-type {
    margin-left: 0; }

.ss-left {
  text-align: left; }

.ss-right {
  text-align: right; }

.ss-main {
  width: 820px; }

.ss-page:nth-of-type(1) {
  z-index: 3;
  top: 0; }

.ss-page:nth-of-type(2) {
  z-index: 2; }

.ss-page:nth-of-type(3) {
  z-index: 1; }

#graphicdesign-1 {
  background-image: url("img/graphicdesign/1.png"); }

#graphicdesign-2 {
  background-image: url("img/graphicdesign/2.png"); }

#graphicdesign-3 {
  background-image: url("img/graphicdesign/3.png"); }

#graphicdesign-4 {
  background-image: url("img/graphicdesign/4.png"); }

#graphicdesign-5 {
  background-image: url("img/graphicdesign/5.png"); }

#graphicdesign-6 {
  background-image: url("img/graphicdesign/6.png"); }

#graphicdesign-7 {
  background-image: url("img/graphicdesign/7.png"); }

#graphicdesign-8 {
  background-image: url("img/graphicdesign/8.png"); }

#graphicdesign-9 {
  background-image: url("img/graphicdesign/9.png"); }

#graphicdesign-10 {
  background-image: url("img/graphicdesign/10.png"); }

#graphicdesign-11 {
  background-image: url("img/graphicdesign/11.png"); }

#graphicdesign-12 {
  background-image: url("img/graphicdesign/12.png"); }

#graphicdesign-13 {
  background-image: url("img/graphicdesign/13.png"); }

#graphicdesign-14 {
  background-image: url("img/graphicdesign/14.png"); }

#graphicdesign-15 {
  background-image: url("img/graphicdesign/15.png"); }

#graphicdesign-16 {
  background-image: url("img/graphicdesign/16.png"); }

#graphicdesign-17 {
  background-image: url("img/graphicdesign/17.png"); }

#graphicdesign-18 {
  background-image: url("img/graphicdesign/18.png"); }

#graphicdesign-19 {
  background-image: url("img/graphicdesign/19.png"); }

#graphicdesign-20 {
  background-image: url("img/graphicdesign/20.png"); }

#graphicdesign-21 {
  background-image: url("img/graphicdesign/21.png"); }

#graphicdesign-22 {
  background-image: url("img/graphicdesign/22.png"); }

#graphicdesign-23 {
  background-image: url("img/graphicdesign/23.png"); }

#graphicdesign-24 {
  background-image: url("img/graphicdesign/24.png"); }

#photo-1 {
  background-image: url("img/p/1.png"); }

#photo-2 {
  background-image: url("img/p/2.png"); }

#photo-3 {
  background-image: url("img/p/3.png"); }

#photo-4 {
  background-image: url("img/p/4.png"); }

#photo-5 {
  background-image: url("img/p/5.png"); }

#photo-6 {
  background-image: url("img/p/6.png"); }

#photo-7 {
  background-image: url("img/p/7.png"); }

#photo-8 {
  background-image: url("img/p/8.png"); }

#photo-9 {
  background-image: url("img/p/9.png"); }

#photo-10 {
  background-image: url("img/p/10.png"); }

#photo-11 {
  background-image: url("img/p/11.png"); }

#photo-12 {
  background-image: url("img/p/12.png"); }

#photo-13 {
  background-image: url("img/p/13.png"); }

#photo-14 {
  background-image: url("img/p/14.png"); }

#photo-15 {
  background-image: url("img/p/15.png"); }

#photo-16 {
  background-image: url("img/p/16.png"); }

#photo-17 {
  background-image: url("img/p/17.png"); }

#me-description {
  position: absolute;
  z-index: 2;
  text-align: left;
  color: #dc4443; }

/* media queries */
@media (max-width: 480px) {
  #container {
    position: absolute;
    top: 50px; }

  .clickarea {
    margin-left: 0px; }

  #lightbox {
    left: 40px; } }
@media (max-width: 600px) {
  #container {
    position: absolute;
    top: 0px; } }
